@import "@nuxt/ui";
@import "./tailwind";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}

/* Ensure app layout can be stretched especially for blank layouts */
#__nuxt {
  @apply min-h-svh flex flex-col last-of-type:grow;
}
