/* NOTE: We created separate tailwind.css because when using @source we can't have other styles in same file */
@import "tailwindcss";
@source "../../../layers/**";
@source "../../../nuxt.config.ts";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
