/* NOTE: We created separate tailwind.css because when using @source we can't have other styles in same file */
@import "tailwindcss";
@source "../../../nuxt.config.ts";
@source "../../../layers/**/{app,nuxt}.config.ts";
